.selectGrid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em 0 1em 0;
}

.resetBtnGrid {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  margin: 1em 0 0 0;
}

.noMatchRec {
  text-align: center;
  margin-top: 1em;
  color: #f5f2f2;
}

.carStockDisplay {
  font-size: 3em;
  text-transform: uppercase;
  color: #69f0ae;
  text-align: center;
  margin: 1em;
}
